.textarea {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    font-family: Cairo;
    font-size: $small-font-size;
    background-color: $gray-white;
    padding: 1rem;
    min-height: 20rem;
    border-radius: .5rem;
    border: 1px solid $gray-white-border;
    resize: none;
    
    &:focus {
        background-color: $white;
    }
}
